body {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 3rem;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  #data-container {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  